.app{
  height: 200vh;
  width: 200vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mainbox{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}